@import "~normalize.css";
@import "_variables";
@import "modules/hero.scss";
@import "modules/skills.scss";
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;700&family=Nunito:wght@300;600;700&family=Roboto:wght@400;700&display=swap');

html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: Nunito;
  color: $text;
}